<div class="container">
  <h3 class="m-3">Add New Product</h3>
  <form [formGroup]="productUpdateForm" (ngSubmit)="update()" >
    <div class="form-group m-3">
      <label for="name" class="block">Product Name</label>
      <input id="name" formControlName="name" type="text" aria-describedby="username-help" class="form-control" [(ngModel)]="product.name" pInputText />
      <small *ngIf="productUpdateForm.get('name').hasError('required') && productUpdateForm.get('name').dirty" id="username-help" class="p-error block ng-invalid ng-dirty">Name is not available.</small>
    </div>
    <div class="form-group m-3">
      <label for="unitPrice" class="block">Unit Price</label>
      <input id="unitPrice" formControlName="unitPrice" type="text" aria-describedby="unitPrice-help" class="form-control" [(ngModel)]="product.unitPrice" pInputText />
      <small *ngIf="productUpdateForm.get('unitPrice').hasError('required') && productUpdateForm.get('unitPrice').dirty" id="unitPrice-help" class="p-error block ng-invalid ng-dirty">unitPrice is not available.</small>
    </div>
    <div class="form-group m-3">
      <label for="unitsInStock" class="block">Units In Stock</label>
      <input id="unitsInStock" formControlName="unitsInStock" type="text" aria-describedby="unitsInStock-help" class="form-control" [(ngModel)]="product.unitsInStock" pInputText />
      <small *ngIf="productUpdateForm.get('unitsInStock').hasError('required') && productUpdateForm.get('unitsInStock').dirty" id="unitsInStock-help" class="p-error block ng-invalid ng-dirty">unitsInStock is not available.</small>
    </div>
    <div class="form-group m-3">
      <label for="categoryId" class="block">Category</label>
      <select class="form-control" required name="categoryId" id="categoryId" formControlName="categoryId" aria-describedby="categoryId-help" >
        <option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </option>
      </select>
      <small *ngIf="productUpdateForm.get('categoryId').hasError('required') && productUpdateForm.get('categoryId').touched" id="categoryId-help" class="p-error block ng-invalid ng-dirty">Category is not available.</small>
    </div>
    <button pButton label="Update" type="submit" class="p-button-success m-3" icon="pi pi-check" iconPos="left"  [disabled]="productUpdateForm.invalid"></button>  
  </form>
</div>
