<div class="container">
    <h3 class="m-3 text-center">Sign-In</h3>
    <form [formGroup]="loginForm" (ngSubmit)="login()" > 
      <div class="form-group m-3">
        <label for="email" class="block">Email</label>
        <input id="email" formControlName="email" type="email" email aria-describedby="email-help" class="form-control" pInputText />
        <small *ngIf="loginForm.get('email').hasError('required') && loginForm.get('email').dirty" id="email-help" class="p-error block ng-invalid ng-dirty">Email is not available.</small>
      </div>    
      <div class="form-group m-3">
        <label for="password" class="block">Password</label>
        <input id="password" formControlName="password" type="password" aria-describedby="password-help" class="form-control"  pInputText />
        <small *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').dirty" id="password-help" class="p-error block ng-invalid ng-dirty">Password is not available.</small>
      </div>  
      <div class="form-group m-3">
        <button pButton label="Sign-In" type="submit" class="p-button-success m-3" icon="pi pi-check" iconPos="left"  [disabled]="loginForm.invalid"></button>
        <button pButton [routerLink]="['/users/addUser']" class="p-button-help m-3">Sign-Up</button>
      </div>        
    </form>
  </div>
  