<div class="container">
    <h3 class="m-3 text-center">Sign-Up</h3>
    <form [formGroup]="userAddForm" (ngSubmit)="addUser()" >
      <div class="form-group m-3">
        <label for="firstName" class="block">First Name</label>
        <input id="firstName" formControlName="firstName" type="text" aria-describedby="firstName-help" class="form-control" [(ngModel)]="user.firstName" pInputText />
        <small *ngIf="userAddForm.get('firstName').hasError('required') && userAddForm.get('firstName').dirty" id="firstName-help" class="p-error block ng-invalid ng-dirty">Name is not available.</small>
      </div>
      <div class="form-group m-3">
        <label for="lastName" class="block">Last Name</label>
        <input id="lastName" formControlName="lastName" type="text" aria-describedby="lastName-help" class="form-control" [(ngModel)]="user.lastName" pInputText />
        <small *ngIf="userAddForm.get('lastName').hasError('required') && userAddForm.get('lastName').dirty" id="lastName-help" class="p-error block ng-invalid ng-dirty">LastName is not available.</small>
      </div>
      <div class="form-group m-3">
        <label for="email" class="block">Email</label>
        <input id="email" formControlName="email" type="email" email aria-describedby="email-help" class="form-control" [(ngModel)]="user.email" pInputText />
        <small *ngIf="userAddForm.get('email').hasError('required') && userAddForm.get('email').dirty" id="email-help" class="p-error block ng-invalid ng-dirty">Email is not available.</small>
      </div>   
      <div class="form-group m-3">
        <label for="password" class="block">Password</label>
        <input id="password" formControlName="password" type="password" aria-describedby="password-help" class="form-control" [(ngModel)]="user.password" pInputText />
        <small *ngIf="userAddForm.get('password').hasError('required') && userAddForm.get('password').dirty" id="password-help" class="p-error block ng-invalid ng-dirty">Password is not available.</small>
      </div>   
    
      <button pButton label="Register" type="submit" class="p-button-success m-3" icon="pi pi-check" iconPos="left"  [disabled]="userAddForm.invalid"></button>  
    </form>
  </div>
  